* {
	font-family: Montserrat;
}

body {
	background-color: #DDDDDD;
}

h2 {
	margin-top: 0;
	text-align: center;
}

section {
	width: 960px;
	margin:auto;
	border: solid 1px black;
	background-color: #ebebeb;
}

table {
	width: 520px;
	margin: auto;
	border-spacing: 15px;
}

td {
	text-align: justify;
}

td h3 {
	text-align: center;
	margin-top: 0;
}

td img {
	width: 85px;
}

.fab.fa-facebook-f {
	margin-left: 37px;
	color: #a3a1a1;
}
.fab.fa-linkedin-in {
	margin-left: 28px;
	color: #a3a1a1;
}

.fab.fa-twitter {
	margin-left: 20px;
	color: #a3a1a1;
}

.ligne_separation_1 {
	border: 1px solid #a3a1a1;
	background-color: #a3a1a1;
	height: 2px;
	width: 600px;
	margin-bottom: 50px;
}

#berners {
	height: 410px;
	padding-top: 50px;
	background-color: white;
	box-shadow: 0px 4px 10px #a3a1a1;
	width: 540px;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 25px;
}

#berners a {
	border: 1px solid red;
	border-radius: 5px;
	text-decoration: none;
	background-color: red;
	color: white;
	display: block;
	width: 130px;
	margin: auto;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 15px; 
}

#berners h1 {
	color: red;
	text-align: center;
	font-size: 2em;
	margin-top: 15px;
	margin-bottom: 0px;
}

#berners h2 {
	text-align: center;
	font-weight: normal;
	margin-top: 10px;
}

#berners img {
	border-radius: 50%;
	border: 5px solid #a3a1a1;
	width: 140px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#berners p {
	width: 520px;
	margin: auto;
	text-align: justify;
}

#movies {
	height: 580px;
	background-color: white;
}

#social_links {
	height: 175px;
	background-color: white;
	margin-top: 30px;
	width: 540px;
	margin: auto;
}

#social_links a {
	text-decoration: none;
	color: #a3a1a1;
}

#social_links li:nth-of-type(2) {
	margin: 0 50px;
}

#social_links li {
	list-style-type: none;
}

#social_links ul {
	display: flex;
	justify-content: center;
	margin-top: 0px;
	margin-bottom: 80px;
	padding-left: 0;
}

